<article>
    <div>
        <p>Elias Schramm</p>
        <p>privat@eps-dev.de</p>
        <p>adress and tel. on request</p>
        <p>Made with <span class="emoji">❤</span> by <a href="https://eps-dev.de" target="_blank">EPS-DEV</a> </p>
        <p class="disclaimer">
            <b>Disclaimer:</b> Everything on this website is a pure statistical evaluation of an limited amount of data. 
              I explicitly distance myself from any tags/hashtags found or/and shown. I also strongly advise to not assume that any numbers/statistics shown on this website are resembling the past or current situation/s on Twitter in an accurate manner.         
        </p>
    </div>
    <p class="uwu">UwU</p>
</article>