article{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

article > div{
    width: 60%;
    margin-bottom: 10vh;
}

h2{
    color: rgb(var(--main-blue));
    font-size: 10vh;
    font-weight: 400;
}