<article>
    <h2>FAQ</h2>
    <div>
        <app-qa question="How do you collect the data?" [answer]="['The twitter-api has an feature called \'Sampled Stream\'. This feature allowes one to get, if you can trust the official documentation, around 1% of all Tweets (including ReTweets) pushed to Twitter. We are collecting this data and filter it for tags and hashtags.']"></app-qa>
        <app-qa question="What do these numbers say?" [answer]="['The numbers show how often the tag/hashtag was found during one hour. If you want an rough estimate on how often the tag/hashtag was used in total you can take the count times 100.']"></app-qa>
        <app-qa question="How can I use your data myself?" [answer]="['If you only need an limited amount of data you can use our API, the documentation to said can be found besides the searchbar. If you need a copy of the entire database you can send an E-Mail asking for it to privat@eps-dev.de so that I can send it to you.']"></app-qa>
    </div>
</article>