article{
    width: 100%;
}

.q{
    text-align: left;
    border-left: .4vw solid rgb(var(--main-blue));
    padding-left: 2vh;

    font-size: 5vh;
    font-weight: 400;
}

.a{
    text-align: left;
    margin-top: 3vh;

    border-right: .4vw solid rgb(var(--main-blue));
    padding-right: 2vh;

    font-size: 2.5vh;

    margin-left: 20%;
    width: 80%;
}

.a p{
    margin-top: 1vh;
}