article{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

article > div{
    width: 60%;
}

h2{
    color: rgb(var(--main-blue));
    font-size: 10vh;
    font-weight: 400;
}

.btn {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.blue{
    color: rgb(var(--main-blue));
}

div.code p{
    background: rgb(var(--sec-bg-color));
    margin-top: 5vh;
    padding: 2vh;

    font-size: 1.8vh;
}

div.code span{
    background: rgb(var(--sec-bg-color));
}

.base {
    color: #51CB20;
}