<table>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Count</th>
    </tr>

    <ng-container *ngFor="let item of TopList;index as i">
        <ng-container *ngIf="i < num">
            <tr>
                <td [ngClass]="i % 2 == 0 ? 'row_1' : 'row_2'">{{ i + 1 }}.</td>
                <td [ngClass]="i % 2 == 0 ? 'row_1 name' : 'row_2 name'" (click)="showDetails(type, item.name.replace('#','').replace('@',''))">{{ item.name }}</td>
                <td [ngClass]="i % 2 == 0 ? 'row_1' : 'row_2'">{{ item.count }}</td>
            </tr>
        </ng-container>
    </ng-container>
</table> 

