<div class="form">
    <form>
        <div class="input">
            <div class="autocomplete">
                <input type="text" name="search" 
                id="search" 
                placeholder="Search for an tag or hashtag..." 
                autocomplete="off" 
                [(ngModel)]="search"      
                [value]="search"
                (ngModelChange)="onSearchChange()"
                (keyup.arrowup)="move_highlight(-1)"
                (keyup.arrowdown)="move_highlight(1)"
                required />
            
                <div class="autocomplete-items" *ngIf="searchbar_active || error != ''" (mouseleave)="remove_highlight()">
                    <div class="error" *ngIf="error != ''">{{error}}</div>
                    <div *ngFor="let x of autocomplete_items; index as i"
                        (click)="redirect(x.name)"
                        [ngClass]="{'hovered': cur_selected === i}"
                        (mouseenter)="set_highlight(i)"                        
                    >{{x.name}}</div>
                </div>
            </div>            
            <div>
                 <input type="button" id="button" name="submit" value="Search" (click)="handleSearchCommit()"/>
            </div>
        </div>
    </form>
</div>